*.h5 filter=lfs diff=lfs merge=lfs -text
models/custCNN1.h5 filter=lfs diff=lfs merge=lfs -text
* linguist-vendored
*.css linguist-vendored
*.py linguist-vendored=false
*.html linguist-vendored=false
